
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$lightblue: #7e8dbd;

$theme-colors: (
  "primary": #7e8dbd,
  "success": #7fbf8d,
  "danger": #c2777f,
  "warning": #bdac78
);